<h1> Categories</h1>
{% if messages %}
{% for message in messages  %}
    <div style="width: 400px; background: #baff9f; text-align: center">Usuario creado</div>
{% endfor %}
{% endif %}
{% for category in categories  %}
    <ul>
        <li><a href=" {% url 'mitienda:category_products' category.id %}">{{category.name}}</a></li>
    </ul>
    
{% endfor %}

{% if request.user.is_authenticated %}
    <p><a style="text-decoration: none; background: #ff7d73; font-family: arial" href="{% url 'mitienda:logout' %}">Logout</a></p>
{% else %}
    <p><a style="text-decoration: none; background: #6fff4c; font-family: arial" href="{% url 'mitienda:login' %}">Login</a></p>
    <p><a style="text-decoration: none; background: #6fff4c; font-family: arial" href="{% url 'mitienda:register' %}">Register</a></p>
{% endif %}
