<h2>Crea tu producto</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Crear">
  </form>

  {% if request.user.is_authenticated %}
  <p><a style="text-decoration: none; background: #ff7d73; font-family: arial" href="{% url 'mitienda:logout' %}">Logout</a></p>
{% else %}
  <p><a style="text-decoration: none; background: #6fff4c; font-family: arial" href="{% url 'mitienda:login' %}">Login</a></p>
  <p><a style="text-decoration: none; background: #6fff4c; font-family: arial" href="{% url 'mitienda:register' %}">Register</a></p>
{% endif %}
